<body>
  <main>
<div class="basket">
  
  <mat-card class="card">
      <div style="text-align: center">
          <h3>About Us</h3>
      </div>
      <br>
    <p>
      <b>S & D Streetwear Market</b> is a Streetwear marketplace for users to come, 
      see, buy, and sell streetwear stuffs. S & D Streetwear Market established in July, 2018.
    </p>

    <p>
      One of the reason that <b>S & D Streetwear Market</b> established is to make sure that people 
      have a safe place to make a transaction, and get a guarantee that the item received is 
      Authentic and brand new. One of the other reason is to gather people all around Indonesia
      to expand the culture of streetwear.
    </p>

    <p style="text-align: center;">
     <b><i> Our motto is to be the biggest Streetwear Marketplace in Indonesia.</i></b>
    </p>

    <p>
      Our way of work is very simple, yet safe. It just need a little effort from all
      of the users and admins to use our service.
    </p>
    
    <p>
    
    </p>
  
  </mat-card>
  
</div>
</main>
</body>

