<div class="h1">
        <h3>Update Address</h3>
</div>
    
    <div>
            <form #f="ngForm" >
    
              <div class="example-container">
                
                
                <mat-form-field>
                    <mat-select placeholder="City" name="city" id="city"
                    [formControl]="CityFormControl"
                    [errorStateMatcher]="matcher" required #city>
                        <mat-option value="dki jakarta">DKI Jakarta</mat-option>
                        <mat-option value="bandung">Bandung</mat-option>
                        <mat-option value="Tangerang">Tangerang</mat-option>
                        <mat-option value="Surabaya">Surabaya</mat-option>
                        
                    </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                        
                        <mat-error *ngIf="CityFormControl.hasError('required')">
                                City is <strong>required</strong>
                       </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input #postalcode matInput placeholder="Postal Code"  name="postalcode" id="postalcode" minlength="5" maxlength="5" onkeydown="return ( event.ctrlKey 
                  || event.altKey 
                  || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) 
                  || (95<event.keyCode && event.keyCode<106)
                  || (event.keyCode==8) || (event.keyCode==9) 
                  || (event.keyCode>34 && event.keyCode<40) 
                  || (event.keyCode==46) 
                  )" [formControl]="PostalCodeFormControl"
                  [errorStateMatcher]="matcher" required
                  >
                  <mat-hint align="end">ex: 15310</mat-hint>
                  <mat-error *ngIf="PostalCodeFormControl.hasError('required') || PostalCodeFormControl.hasError('minlength')">
                        Postal Code is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                        <textarea #addressdetail matInput placeholder="Address Detail" maxlength="125" name="addressdetail" id="addressdetail"
                        [formControl]="AddressDetailFormControl"
                        [errorStateMatcher]="matcher" required></textarea>
                        <mat-error *ngIf="AddressDetailFormControl.hasError('required')">
                                Address Detail is <strong>required</strong>
                            </mat-error>
                </mat-form-field>

                
              </div>
              
              <br>
            <div style="text-align:center;">
              <button mat-button class="cancelButton" (click)="onNoClick()" type="reset">
                  <i class="material-icons">close</i> 
                Cancel
              </button>
    
              <button [promiseBtn]="promise" type="submit" mat-button class="updateButton" 
                      #btnLogin (click) = 'updateAddress(city.value,postalcode.value,addressdetail.value)'
                      [disabled] = "!f.valid 
                                    ||CityFormControl.hasError('required')
                                    ||PostalCodeFormControl.hasError('required')
                                    ||PostalCodeFormControl.hasError('minlength')
                                    ||AddressDetailFormControl.hasError('required')">
                      <i class="material-icons">radio_button_checked</i> 
                      Update
              </button>
              <br>
    
            </div>
            </form>
          </div>