.h1{
    text-align: center;
}

.example-container {
    
    background-color: rgb(255, 255, 255);
    /* opacity: 0.9; */
    
    padding-top: 4%;
    padding-bottom: 5%;
    border-radius: 10px;
    text-align: center;
    align-content: center;
  }
.space{
    height: 15%;
}
.example-container > * {
    text-align: center;
    width: 100%;
    
    
  }


  
  .example-full-width {
    width: 100%;
  }

.containerLogin{
    background-color:rgb(100, 193, 255);
}

.loginButton{
    background-color:rgb(152, 44, 202);
    opacity: 0.9;
    color:white;
    width: 45%;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Lucida" Grande, sans-serif;
    text-align: center;
}
.cancelButton{
    width: 45%;
    font-size: 14px;
    font-family: "Lucida" Grande, sans-serif;
    border-radius: 4px;
    text-align: center;
    color:white;
    width: 45%;
    background-color:rgb(48, 48, 48);

}

#err {
    color : red;
  }
input{
    text-align: center;
}


.login-page {
    width: 300px;
      text-align : right;
      margin-right: 45px;
      float: right;
      
  }

  .column {
    float: left;
    width: 50%;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}